# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/

# Archives
*.xcarchive

# User-specific
*.moved-aside